.setup>h2{
    color:white;
    margin: 25px;
    font-size: 25px;
    font-weight: 650;
    text-shadow: #070606 3px 3px 8px;
    
}

.homeScreen{
    
    height: 110%;
    
}

.animation{
    width: fit-content;
}