.profileScreen{
    animation:ease-in-out;
    height: 100vh;
    color: white;

}



.profileScreen__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   
    padding-top: 8%;
    max-width: 800px;

}

.profileScreen__body>h1{
    padding:20px;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__info{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    
    max-width: 800px;   
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

.profileScreen__info::-webkit-scrollbar{
    display: hidden;
}




.profileScreen__details>h2{
    background-color: grey;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;

}
.profileScreen__signOut{
    padding: 7px;
    font-size: 1 rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: #afacac;
    
    background-color: #120f0f;
    
    
    border-color: #5e5c5c;
    border-style:groove;
    
    cursor: pointer;
    transition: transform 0.5s;
}

.profileScreen__signOut:hover{
    transform: scale(1.08) ;
    
    opacity: 1;
}



.profileScreen__info>img{
    
    

}
.sButon{
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    
    
    
}