.prof{
    
    height:15vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.prof>h2{
    
    font-style: normal;
    padding: 3px;
    font-size: 13px;
    font-weight: 65;
    color: rgb(143, 139, 139);
    text-decoration: none;
    
    
}

.prof__image{
    height: 70px;
    
    cursor: pointer;
    transition: transform 0.5s;
    
}

.prof__image:hover{
    transform: scale(1.08) ;
    
    opacity: 1;
}
